{% extends 'base.html.twig' %}

{% block title %}Checkout{% endblock %}

{% block body %}
    <section class="checkout_section layout_padding long_section">
        <form method="post" action="{{ path("app_checkout_process") }}">
            <input type="hidden" name="token" value="{{ csrf_token('checkout') }}">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <h2>Checkout</h2>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="inputFirstName">First Name</label>
                                <input type="text" class="form-control" name="inputFirstName"
                                       placeholder="Enter your first name">
                            </div>
                            <div class="col-md-6">
                                <label for="inputLastName">Last Name</label>
                                <input type="text" class="form-control" name="inputLastName"
                                       placeholder="Enter your last name">
                            </div>
                        </div>
                        <label for="inputAddress">Address line 1</label>
                        <input type="text" class="form-control" name="inputAddress">
                        <label for="inputAddress2">Address line 2</label>
                        <input type="text" class="form-control" name="inputAddress2">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputCountry">Country</label>
                                <input type="text" class="form-control" name="inputCountry">
                            </div>
                            <div class="col-md-6">
                                <label for="inputCity">City</label>
                                <input type="text" class="form-control" name="inputCity" placeholder="Enter your city">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label for="inputState">State</label>
                                <select name="inputState" class="form-control">
                                    <option selected>Choose...</option>
                                    <option>State 1</option>
                                    <option>State 2</option>
                                    <option>State 3</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="inputZip">Zip</label>
                                <input type="text" class="form-control" name="inputZip" placeholder="Enter your ZIP code">
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="inputEmail">Email Address</label>
                            <input type="email" class="form-control" name="inputEmail"
                                   placeholder="Enter your email address">
                        </div>
                        <button type="submit" class="btn btn-primary">Place Order</button>
                    </div>
                    <div class="col-md-4">
                        <div id="productsList" class="row">
                            {% if cartProducts %}
                                {% for product in cartProducts %}
                                    <div class="col-md-5">
                                        <img class="img-fluid" src="../uploads/images/{{ product.product.image }}">
                                    </div>
                                    <div class="col-md-7">
                                        <span>{{ product.product.name }}</span>
                                        <span>Quantity: {{ product.quantity }}</span>
                                        <span>Price: {{ product.product.price * product.quantity }}</span>
                                    </div>
                                {% endfor %}
                            {% endif %}
                            {% if singleProduct %}
                                <div class="col-md-5">
                                    <img class="img-fluid" src="../uploads/images/{{ singleProduct.image }}">
                                </div>
                                <div class="col-md-7">
                                    <input type="hidden" name="singleProduct" value="{{ singleProduct.id }}">
                                    <div class="title">
                                        <span class="h4">{{ singleProduct.name }}</span>
                                    </div>
                                    <div class="product-data">
                                        <span>Quantity: 1</span><br/>
                                        <span>Price: {{ singleProduct.price }}</span>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </section>
{% endblock %}
